.navbar {
    background-color: #BADA84;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.home {
    color: black;
    text-decoration: none;
    font-size: xx-large;
}

.home:hover {
    color: #4B9AFF;
    text-decoration: none;
    font-size: xx-large;
}

.link {
    color: black;
    text-decoration: none;
    font-size: large;
}

.link:hover {
    color: #4B9AFF;
    text-decoration: none;
    font-size: large;
}

.logOut {
    color: red;
    text-decoration: none;
    font-size: large;
    
}

.logOut:hover {
    color: red;
    text-decoration: none;
    font-size: large;
    
}

