.headLine{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif !important;
    padding-top: 1.5cm;
    padding-bottom: 1cm;
    text-decoration: underline;
}

.info{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif !important;
}