.title {
    font-size: xx-large;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.cost {
    font-size: larger;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.submitBtn {
    color: black !important;
    background-color: #00ff00 !important;
    border-style: double !important;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif !important;
}
.submitBtn:hover {
    background-color: #ffff00 !important;
}

.deleteBtn {
    color: black !important;
    background-color: #ee4b2b !important;
    border-style: double !important;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif !important;
}

.deleteBtn:hover {
    background-color: red !important;
}

.headLine1 {
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif !important;
    padding-top: 1.5cm;
    text-decoration: underline;
}
.headLine2 {
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif !important;
    padding-bottom: 1.5cm;
    text-decoration: underline;
}

.pruductCards {
    padding-bottom: 0.5cm;
}
