.body{
    background-color : black;
}
.navbar {
    background-color: antiquewhite;
}
.logOut {
    color: black;
}
.logOut:hover {
    color: red;
}

.textOne {
    color: black;
    font-size: xx-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.textTwo {
    color: black;
    font-size: larger;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.card {
    color: black;
    margin-bottom: 1cm;
}

.cimsor {
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: underline;
}

.description {
    color: black;
    font-size: larger;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-left:  10px;
}

.deleteButton {
    padding-left: 10px;
}